In [ ]:
#Example 01: Creating a pandas series.
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

In [19]:
#Example 02: Creating a pandas DataFrame
import pandas as pd
data = {'Gender': ['F', 'M', 'M'],'Emp_ID': ['E01', 'E02','E03'], 'Age': [25, 27, 25]}
df = pd.DataFrame(data, columns=['Emp_ID','Gender', 'Age'])
print(df) 
print(df.Emp_ID)
print(df.Emp_ID[0])

  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25
0    E01
1    E02
2    E03
Name: Emp_ID, dtype: object
E01

In [20]:
#Example 03: Reading / writing data from csv, text, Excel Reading
import pandas as pd
import pandas as pd
df1=pd.read_csv('MLDataSET/mtcars.csv')
df2=pd.read_csv('MLDataSET/mtcars.txt', sep='\t') 
df3=pd.read_excel('MLDataSET/mtcars.xlsx','Sheet2') 
xlsx = pd.ExcelFile('file_name.xlsx')
sheet1_df = pd.read_excel(xlsx, 'Sheet1')
# sheet2_df = pd.read_excel(xlsx, 'Sheet2')
df.to_csv('mtcars_new.csv', index=False)
df.to_csv('mtcars_new.txt', sep='\t', index=False)
df.to_excel('mtcars_new.xlsx',sheet_name='Sheet1', index = False)

In [21]:
#Example 04: Basic statistics on dataframe
df = pd.read_csv('MLDataSet/iris.csv')
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
#Example 06: Creating correlation matrix on dataframe
df = pd.read_csv('MLDataSet/iris.csv')
df.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000